<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CSS3手势变换动画特效DEMO演示</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
</head>

<body>
    <div class="hand" id="thumb">
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger thumb"></div>
        <div class="arm"></div>
    </div>
    <span class="hide" id="animation">+1</span>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
    <script src="http://cdn.bootcss.com/systemjs/0.20.2/system.js"></script>
    <script type="text/javascript" src="test/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
    SystemJS.config({
        baseURL: '/scripts'
    });
    SystemJS.import('index-es.js').then(function(m) {
        $.extend({
                thumb: m.default.Thumb
            
        });
        callBack();

    });
    function callBack(){
         var f = new $.thumb(0, $('#thumb'),"http://localhost:81/praiseThumb/test.php");
        f.clickAction();
    }

    </script>
</body>

</html>
